<h1 class="mb-4"><%= @offer.name %></h1>

<% if current_user == @offer.user %>
  <%= link_to "Update booking", edit_offer_path, class: "btn btn-info" %>
<% end %>

<div class="row">
  <div class="col-md-8">
    <%= render 'complete-product-description', offer: @offer %>
  </div>
  <div class="col-md-4">
    <% if user_signed_in? %>
      <%= render 'booking-form', offer: @offer %>
    <% else %>
      <%= render 'require-signin' %>
    <% end %>
  </div>
</div>

<% if current_user == @offer.user %>
  <div>
    <h3>Bookings listed on your offer</h3>
    <% if @offer.bookings.count > 0 %>
      <div class="cards-booking">
        <% @offer.bookings.each do |booking| %>
          <%= render 'bookings/card-booking', booking: booking, display_offer: false %>
        <% end %>
      </div>
    <% else %>
      <p>No bookings listed for that booking at the moment</p>
    <% end %>
  </div>
<% end %>
