<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <a class="navbar-brand" href="<%= root_path %>">
      <img src="" /> <%= image_tag("CampShare_logo.png", title: "CampSharelogo" ) %>
    </a>

    <div class="d-inline-flex justify-content-center ">
      <%= render 'navbar/offers-searchbox' %>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item active">
          <a class="nav-link" href="<%= root_path %>">Home</a>
        </li>
        <%= render 'navbar/rightdropdown' %>
      </ul>
    </div>
  </div>
</div>
